[mysqld]
symbolic-links=0
interactive_timeout=600
wait_timeout=600
max_allowed_packet=256M
max_connect_errors=10000000
connect_timeout=20
max_connections=25000
wait_timeout=3600
net_read_timeout=360
net_write_timeout=360